body{
  box-sizing: border-box;
}
#root {
  padding-top: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background: #f1f1f1;
}
.goods-field {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.goods-field::after {
  content: "";
  display: block;
  clear: both;
}

.goods-block {
  min-width: 150px;
  margin: 1%;
  padding: 10px;
  border: 1px solid black;
  float: left;
  text-align: center;
}

.goods-block img {
  max-width: 70px;
  display: block;
  margin: 20px auto;
}
